{% extends 'dashboard/base_auth.html' %}
{% load i18n %}

{% block title %}{% trans "Заблокировано" %}{% endblock %}

{% block content %}
<div class="auth-card">
    <div class="auth-header">
        <h2>{% trans "Временно заблокировано" %}</h2>
        <p class="text-danger">{% trans "Вы ввели неверный пароль слишком много раз. В целях безопасности аккаунт заблокирован на 1 минуту." %}</p>
        <br>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">{% trans "Попробовать снова" %}</a>
    </div>
</div>
{% endblock %}
